#centerer{
    max-width:800px;
    margin:auto;
    text-align: center;
}

#half_footer{
    width:50%;
    float:left;
    padding-bottom:40px;
    text-align: center;
    display: table-cell;
}

#clear {
    clear:both;
}

h2 {
    border-top: solid 1px silver;
    margin-top: 20px;
    padding-top: 10px;
}