dl .attribute {
    margin-left: 50px;
}

dl .method {
    margin-left: 50px;
}

dl .classmethod {
    margin-left: 50px;
}

dl .staticmethod {
    margin-left: 50px;
}

dd > p {
    padding-left: 20px;
}

.property {
    font-weight: 100;
    padding-right: 2px;
}

dl > dt {
    background-color: #DDDDDD;
    border-radius: 5px;
    padding: 5px;
    color: #222222;
}

.admonition {
    background-color: #FFE3E3;
    border-color: #FFC4C4;
    color: #555555;
}

a {
    color:#006bbe;
}

#centerer{
    max-width:800px;
    margin:auto;
    text-align: center;
}

#half_footer{
    max-width:50%;
    float:left;
    padding-bottom:40px;
    text-align: center;
    display: table-cell;
}

div .third_footer{
    max-width:33%;
    float:left;
    padding-bottom:40px;
    text-align: center;
    display: table-cell;
}


#clear {
    clear:both;
}

h2 {
    border-top: solid 1px silver;
    margin-top: 20px;
    padding-top: 10px;
}

blockquote p{
	font-size:0.8em;
}