
.module {
	display: inline-block;
	width: 8rem;
	height: 5rem;
	margin: 0.25rem;
	padding: 0.25rem;
	vertical-align: top;
	outline: 1px solid #606060;
	font-size: 0.75em;
}
.module .graph {
	clear: both;
	padding-top: 0.25rem;
	text-align: center;
}
.module .value {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.module.nograph .title {
	text-align: center;
}
.module.nograph .value {
	text-align: center;
	padding-top: 0.5em;
	font-size: 2em;
}
.module.yesgraph .title {
	float: left;
}
.module.yesgraph .value {
	float: right;
}
.module.twovalues .title {
	text-align: center;
}
.module.twovalues .value {
	text-align: center;
	padding-top: 0.25rem;
	font-size: 1rem;
}
#heartbeat {
	width: 5.5rem;
	height: 5.5rem;

	text-align: center;
	line-height: 5.5rem;
	font-size: 5.5em;
	color: #ff4040;
	transition: font-size 0.25s;
	-webkit-transition: font-size 0.25s;
}
#heartbeat.on {
	font-size: 3.5em;
}
#fqdn, #uptime {
	text-align: right;
	font-size: 2em;
	padding: 0.25em;
}
#uptime {
	font-family: 'Consolas', monospace;
	padding-top: 0;
}
