name: Build Documentation

on: [push]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, '+DOCS')"

    steps:
    - uses: actions/checkout@v2
    
    - name: Say Hello Docs
      run: |
        echo "Hello doc builder"

